body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-263px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:950px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:212px;
  width:375px;
  height:950px;
  display:flex;
}
#u1603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:1078px;
  width:125px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:236px;
  width:49px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
